/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  font-family: monospace;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/*The CSS for the To Do List*/
header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 2rem;
}
.header-div {
  height: 60px;
  display: flex;
}
#header-image {
  height: 60px;
  margin: auto auto auto 20px;
}
#list-title {
  margin: auto;
  width: 100%;
  font-size: 24px;
  border: none;
  outline: none;
  text-align: center;
}
#date-list {
  text-align: right;
  margin: auto 20px auto auto;
  width: 100%;
  font-size: 1rem;
}
.new-task{
    display: flex;
    justify-content: space-around;
    width: 20em;
    margin: 2rem;
    padding: 1rem;
    gap: 2rem;
}
.new-task:hover{
    transform: scale(1.01);
}
.new-task:active{
    background-color: rgb(163, 163, 163);
    border-width: 3px;
    box-sizing: border-box;
    border-style: inset;
}
#add-task-icon{
    height: 20px;
}
#new-text{
    font-size: 1rem;
}
#new-task-cat{
    height: 20px;
}

.task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
}
.task-box, .task-trash{
  height: 20px;
  width: 20px;
}
.task-box{

}
.my{
  width: 100%;
}
.task-input{
  width: 100%;
}
.task-trash{
  
}
.task-box:hover, .task-trash:hover{
  transform: scale(1.1);
}
.task-box:active, .task-trash:active{
  border: 2px dotted black;
}


