/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  font-family: monospace;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/*The CSS for the To Do List*/
header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 2rem;
}
.header-div {
  height: 60px;
  display: flex;
}
#header-image {
  height: 60px;
  margin: auto auto auto 20px;
}
#header-image:hover{
    border-width: 3px;
    box-sizing: border-box;
    border-style: outset;
    border-color: grey;
}

#header-image:active {
    border-width: 3px;
    box-sizing: border-box;
    border-style: inset;
    border-color: grey;
}

#list-title {
  margin: auto;
  width: 100%;
  font-size: 24px;
  border: none;
  outline: none;
  text-align: center;
}
#date-list {
  text-align: right;
  margin: auto 20px auto auto;
  width: 100%;
  font-size: 1rem;
}
.new-task{
    display: flex;
    justify-content: space-around;
    width: 20em;
    margin: 2rem;
    padding: 1rem;
    gap: 2rem;
}
.new-task:hover{
    border-width: 3px;
    box-sizing: border-box;
    border-style: outset;
}
.new-task:active{
    background-color: rgb(163, 163, 163);
    border-width: 3px;
    box-sizing: border-box;
    border-style: inset;
}
#add-task-icon{
    height: 20px;
}
#new-text{
    font-size: 1rem;
}
#new-task-cat{
    height: 20px;
}

.task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
  position: relative;
}

.task-box, .task-trash{
  height: 20px;
  width: 20px;
}
.id-input{
  width: 100%;
  font-size: 1.2rem;
}
.task-input{
  width: 100%;
}
.task-box:hover, .task-trash:hover{
  transform: scale(1.1);
}
.task-box:active, .task-trash:active{
  border: 2px dotted black;
}

.btn-container{
    margin: 1rem;
    padding: 1rem;
    display: none;
}

#clear-btn{
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: 5px;
    border-radius: 5px;
    background-color: darkgray;
    color: black;
}

#clear-btn:hover{
    border-width: 3px;
    box-sizing: border-box;
    border-style: outset;
    border-color: grey;
}

#clear-btn:active{
    background-color: black;
    color: whitesmoke;
    border-width: 3px;
    box-sizing: border-box;
    border-style: inset;
}

.dark-mode-background{
    background-color: #0B132B;
}

.dark-mode-title{
    background-color: lightgray;
    color: #1C75E3;
    border-radius: 50px;
}

.dark-mode-date{
    color: #1C75E3;
}

.dark-mode-images{
    border-radius: 50%;
    background-color: lightgray;
    border: 3px solid black;
}

.dark-mode-images-task{
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
}

.dark-mode-images-box{
    background-color: lightgray;
}

.dark-mode-inputs{
    background-color: lightgray;
    color: #1C75E3;
    border: none;
    border-radius: 5px;
}

.dark-mode-new{
    background-color: lightgray;
    border-radius: 15px;
}

@media (max-width: 670px) {
    #header-image {
        height: 40px;
    }
    #list-title {
        font-size: 1.5rem;
    }
    #date-list {
        font-size: 0.8rem;
    }
}


